body, html {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: bold;
    background-color: #ffffff;
}

a,
:link {
  color: #000000;
  font-weight: bold;
}

a:hover {
    color: #fdbe00;;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: #fdbe00;
}
  
nav a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem;
}
  
nav a:hover {
    color: #ffffff;
}

h1{
    margin-top: 100px;
    color: #fdbe00;
    left: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    font-size: larger;
}
  
#header-logo {
    width: 5em;
    transition-duration: 1s;
}
  
#nav-navigation {
    display: flex;
}
  
#nav-navigation p {
    padding: 0 1em;

}

#title{
    text-align: center;
}

h3{
    font-size: xx-large;
}

section{
    border: 0.2em solid #fdbe00;
    border-radius: 30px;
    background-color: #fdbe0130;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    font-size: large;
}

.docs-container{
    line-height: 2em;
    font-size: 1.05em;
}

.verbali{
    padding-top: 45px;
    font-size: 1.15em;
}

p {
    margin-top: 50px;
}